*{
	margin: 0;
	padding: 0;

}

#container{
	width: 100%;
	margin: 0px auto;
	height: auto;
}


#nav{
	background-color: #3B5998;
	width: 100%;
	height: 82px;
}

#nav a{
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}

#nav .forgot a{
	color: gray;
	font-size: 12px;
}

#nav .forgot{
	margin-left: 70.3%;
	margin-top: 5px;
}

#nav .facebook a{
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	margin-left: 250px;
	position: relative;
	top: 25px;
}

#nav label{
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin-left: 60%;
}

#nav .input{
	margin-top: -39px;
}

#nav .password{
	margin-top: -38.5px;
	margin-left: 15px;
}

#nav .password label{
	margin-left: 70%;
}

#nav .password input{
	margin-left: 70%;
}

#nav input{
	color: white;
	width: 142px;
	margin-left: 60%;
}

#nav .button{
	margin-left: 81%;
	margin-top: -45px;
}

#nav button{
	border: 1px solid #29487d;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	width: 80px;
	height: 22px;
	text-align: center;
	background-color: #4267b2;
	color: white;
}

#nav button:hover{
	background-color: #365899;
}

#left-column{
	width: 60%;
	float: left;
	background-image: linear-gradient(#FDFDFE, #D4D9E8);
	height: 600px;
}

#left-column .type{
	font-family: Helvetica, Arial, sans-serif;
	color: #0E385F;
	font-weight: bold;
	font-size: 20px;
	width: 400px;
	margin: 30px 0 0 250px;
}

#left-column img{
	margin-left: 250px;
}

#right-column{
	width: 40%;
	float: left;
	background-image: linear-gradient(#FDFDFE, #D4D9E8);
	height: 600px;
}

#right-column .register{
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #333;
	margin-top: 20px;
}

#right-column .easy{
	font-family: Helvetica, Arial, sans-serif;
	color: #1d2129;
	font-size: 19px;
	margin-top: 10px;
}

#right-column .registration input{
	border: 1px solid #bdc7d8;
	height: 30px;
	border-radius: 5px;
	outline: none;
	margin-top: 12px;
	padding-top: 5px;
	padding-left: 10px;
}

#right-column .registration input::placeholder{
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
	color: #999;
}

#right-column .registration .ten{
	margin-left: 5px;
}

#right-column .registration .phoneOrEmail, .newPass{
	width: 335px;
}

#right-column .date{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #90949c;
	margin-top: 15px;
}

select{
	margin-top: 5px;
	font-size: 13px;
    height: 30px;
    padding: 5px;
}

#Day{
	margin: 0px;
    padding: 0px;
}

#Month{
	margin-left: -5px;
}

#Year{
	margin-left: -6px;
}

#right-column .gender{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #90949c;
	margin-top: 10px;
}

#right-column .gender label{
	color:  #1d2129 !important;
	font-size: 18px;
    font-weight: normal;
    line-height: 18px;
}

#right-column .information{
	color: #777;
    font-size: 11px;
    width: 316px;
    font-family: Helvetica, Arial, sans-serif;
}

#right-column .information a{
	text-decoration: none;
	color: #6A81B2;
}

#right-column .information a:hover{
	text-decoration: underline;
}

#right-column button{
	background-color: green;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	height: 40px;
	width: 172px;
    background-color: #69a74e;
    background: linear-gradient(#67ae55, #578843);
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    font-size: 19px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    letter-spacing: 1px;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    margin-top: 15px;
}

#right-column button:hover{
	background: linear-gradient(#7BB765, #5D9149);
}

#right-column .createPage{
	margin-top: 15px;
	width: 350px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #666;
	margin-bottom: 25px;
}

#right-column .createPage a{
	text-decoration: none;
	color: #385898;
}

#right-column .createPage a:hover{
	text-decoration: underline;
}

span.fa-question-circle{
	margin-left: 10px;
}

#footer{
	width: 100%;
	height: 250px;
}

#footer .language{
	margin-left: 250px;
}

#footer .language .border{
	width: 80%;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	margin: 10px 0 0 10px;
}

#footer .language ul li{
	display: inline-block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	padding-left: 10px;
	margin-top: 25px;
}

#footer .language ul li a{
	text-decoration: none;
	color: #45629E;
}

#footer .language ul li a:hover{
	text-decoration: underline;
}

#footer .language ul li:first-child{
	color: grey;
}

#footer .language .footerLinks{
	width: 80%;
	margin-left: -5px;
}

#footer .language .footerLinks ul li{
	display: inline-block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	padding-left: 15px;
	margin-top: 10px;
}

#footer .language .footerLinks ul li a{
	text-decoration: none;
	color:#45629E;
	white-space: nowrap; 
}

#footer .language .copyright{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 30px;
	color: grey;
}

@media only screen and (max-width: 1251px){
	#container{
		width: 100%;
	}

	#left-column{
		width: 70%;
	}
	#right-column{
		width: 30%;
	}

	img{
		width: 100%;
	}
	#footer{
		width: 100%;
	}
}

@media only screen and (max-width: 375px){
	#container{
		width: 100%;
	}

	#nav{
		width: 100%;
		height: 50px;
	}

	#left-column{
		width: 60%;
	}
	#right-column{
		width: 40%;
	}

	#nav .facebook a
	{
		
		font-size: 20px;
		font-weight: bold;
		margin-left: 0;
		position: relative;
		top: 30px;
	}

	img{
		width: 100%;
	}
	#footer{
		width: 100%;
	}
}

@media only screen and (max-width: 500px){
	#container{
		width: 100%;
	}

	#left-column{
		width: 100%;
	}
	#right-column{
		width: 100%;
	}

	img{
		width: 100%;
	}
}

@media screen and (max-width: 220px) {
	#container{
		width: 220px;
	}

	#left-column{
		width: 100%;
	}
	#right-column{
		width: 100%;
	}

	img{
		width: 100%;
	}
}

